  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    min-height: 100vh;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial,  sans-serif;
  }
  .container{
    width: 500px;
    padding: 20px;
    border-radius: 3px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  .container h1{
    font-size: 22px;
  }
  .head{
    margin: 7px 0;
    color: gray;
  }
  .container p {
    font-size: 16px;
  }

  .commentbox{
    display: flex;
    gap: 20px;
    padding: 50px;
    margin-top: 10px;
  }
  .contents{
   width: 100%; 
  }
  .contents h3{
    font-size: 10px;
  }
  .anonymous-input{
    border: none;
    outline: none;
    margin: 5px 0;
    color: gray;
    padding: 10px;
  }
  .usercomment{
  
   outline: none;
   padding: 10px;
   padding-left: 0;
   border-radius: 3px solid rgba(0, 0, 0, 0.8);
   margin-bottom: 10px; 
   width: 90%;
   color: gray ;
  }
  .btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn button{
    padding: 5px 30px;
    text-transform: uppercase;
     border: none;
     border-radius: 3px;
     cursor: pointer;
     
  }
    .btn button.able{
    background-color: blue;
    color:  #fff;
  }
  .notification label{
     font-size: 14px;
     margin-left: 2px;
  }
  .contents p{
    font-size: 35px;
    margin: 20px 0;
  }
  .contents p a{
    color: blue;
    text-decoration:none ;
  }
  .parent {
    display: flex;
    gap: 10px;
    margin: 20px 0;
  }
  .parent img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    object-position: center;
  }
  .parent h3{
    font-size: 14px;
  }
  .parent p{
    margin: 0;
    font-size: 14px;
  }
  .engagements{
    display: flex;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
  }
  .engagements img{
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  .parent span{
    font-size: 15px;
    color: gray;
  }